let deferredPrompt;

window.addEventListener('beforeinstallprompt', (e) => {
  console.log('----------', 'beforeinstallprompt')
  // Prevent Chrome 67 and earlier from automatically showing the prompt
  e.preventDefault();
  // Stash the event so it can be triggered later.
  deferredPrompt = e;
  if (confirm('Would you like to install this as an app') === true) {
    // Show the prompt
    deferredPrompt.prompt();
    // Wait for the user to respond to the prompt
    deferredPrompt.userChoice
    .then((choiceResult) => {
      if (choiceResult.outcome === 'accepted') {
        console.log('User accepted the A2HS prompt');
      } else {
        console.log('User dismissed the A2HS prompt');
      }
      deferredPrompt = null;
    });
  }
});


window.addEventListener('appinstalled', (evt) => {
  app.logEvent('a2hs', 'installed');
});

if (window.matchMedia('(display-mode: standalone)').matches) {
  console.log('display-mode is standalone');
}

if (window.navigator.standalone === true) {
  console.log('display-mode is standalone');
}
