$(document).ready(function() {
  console.log('Installing pjax ...')
  $(document).pjax('a', '#pjax-container', {"timeout": 2000, "fragment": "#pjax-container"})
  var install = function(offlineText) {
    $(document).on('pjax:error', function(event, xhr, textStatus, errorThrown, options) {
      console.log('Handling pjax error page response without a hard refresh ...')
      if (xhr.responseText) {
        options.success(xhr.responseText, textStatus, xhr);
      } else {
        options.success(offlineText, 'error', xhr);
        event.preventDefault()
      }
      setTimeout(checkOnlineStatus, 200)
      return false;
    })
  }
  {{#offlineUrl}}
  try {
    $.ajax({
      method: "GET",
      {{! Should be a trusted string, so skipping the escaping should be safe }}
      url: "{{{offlineUrl}}}",
      dataType: "text",
    }).done(install)
  } catch (e) {
    console.error('PJAX offline fetch error:', e)
    install('Offline')
  }
  {{/offlineUrl}}
  {{^offlineUrl}}
    console.error('PJAX error - no offlineUrl specified')
    install('Offline')
  {{/offlineUrl}}
})
